<div class="container" id="taskCont">
	<div class="panel">
		<div class="panel-heading" style="background-color: #FF7043;">
			<h1 class="panel-title" style="color: white;"><i class="fa fa-calendar" aria-hidden="true"></i> Tasks</h1>
		</div><br>
		<!-- <ul class="nav nav-tabs nav-justified">
			  <li role="presentation" class="active"><a href="#">Day</a></li>
			  <li role="presentation"><a href="#">Week</a></li>
			  <li role="presentation"><a href="#">Month</a></li>
			</ul> -->
		<!-- <div class="panel-body">
		
		</div> -->
		<div id="accCont">
		<div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a data-toggle="collapse" data-parent="#accordion" href="#1"><span class="fa fa-tasks">
                            </span> Alpha Camp</a>
                        </h4>
                    </div>
                    <div id="1" class="panel-collapse collapse">
                        <table class="table table-hover">
                        	<thead>
                        		<th>Title</th>
                        		<th>Due Date</th>
                        		<th>Status</th>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<td>Task1</td>
                        			<td>8 sept 2017</td>
                        			<td>In-Progress</td>
                        			<td><button class="btn btn-warning btn-xs">Edit</button></td>
                        			<td><button class="btn btn-danger btn-xs">Delete</button></td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
				
				<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a data-toggle="collapse" data-parent="#accordion" href="#3"><span class="fa fa-tasks">
                            </span> Tech Ladies</a>
                        </h4>
                    </div>
                    <div id="3" class="panel-collapse collapse">
                        <table class="table table-hover">
                        	<thead>
                        		<th>Title</th>
                        		<th>Due Date</th>
                        		<th>Status</th>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<td>Task1</td>
                        			<td>8 sept 2017</td>
                        			<td>In-Progress</td>
                        			<td><button class="btn btn-warning btn-xs">Edit</button></td>
                        			<td><button class="btn btn-danger btn-xs">Delete</button></td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a data-toggle="collapse" data-parent="#accordion" href="#2"><span class="fa fa-tasks">
                            </span> Tinker Box</a>
                        </h4>
                    </div>
                    <div id="2" class="panel-collapse collapse">
                        <table class="table table-hover">
                        	<thead>
                        		<th>Title</th>
                        		<th>Due Date</th>
                        		<th>Status</th>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<td>Task1</td>
                        			<td>8 sept 2017</td>
                        			<td>In-Progress</td>
                        			<td><button class="btn btn-warning btn-xs">Edit</button></td>
                        			<td><button class="btn btn-danger btn-xs">Delete</button></td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>