
<section id="main">

	<div class="all">
		<div class="quote">
			<blockquote>"Sometimes your joy is the source of your smile, and sometimes your smile is the source of your joy.
	"<cite>Thich Nhat Hanh</cite></blockquote>
		</div>
		<div class="main-text">
			<span class="glyphicon glyphicon-th-list">Dashboard</span><br><br>
		</div>
		<div id="days">
			<div class="row seven-cols">
				<div class="col-md-1 headerDays">Monday 
					<div class="items">t</div>
				</div>
				<div class="col-md-1 headerDays">Tuesday 
					<div class="items">t</div>
				</div>
				<div class="col-md-1 headerDays">Wednesday 
					<div class="items">t</div>
				</div>
				<div class="col-md-1 headerDays">Thursday 
					<div class="items">t</div>
				</div>
				<div class="col-md-1 headerDays">Friday 
					<div class="items">t</div>
				</div>
				<div class="col-md-1 headerDays">Saturday 
					<div class="items">t</div>
				</div>
				<div class="col-md-1 headerDays">Sunday 
					<div class="items">t</div>
			</div>
			
		</div>
		<div class="CreateButton"> 
			<%= link_to 'Create new Task List', new_tasklist_path, class: "btn btn-primary btn-lg" %>
		</div>
	</div>
</section>