<div class="container" id="taskCont">
	<div class="panel">
		<div class="panel-heading" style="background-color: #FF7043;">
			<h1 class="panel-title" style="color: white;"><i class="fa fa-calendar" aria-hidden="true"></i> Tasks</h1>
		</div><br>
		<ul class="nav nav-tabs nav-justified">
			  <li role="presentation" class="active"><a href="#">Day</a></li>
			  <li role="presentation"><a href="#">Week</a></li>
			  <li role="presentation"><a href="#">Month</a></li>
			</ul>
		<div class="panel-body">
			
		</div>
		<ul class="list-group">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
	</div>
</div>