<div class="pull-right">
	<p><i>"Before you put on a frown, make absolutely sure there are no smiles available."</i> <br><small class="pull-right">- Jimm Begg<button class="btn btn-default btn-xs btn-link pull-right"><i class="glyphicon glyphicon-plus"></i></button></small></p>
</div>