<div class="pull-right">
	<p>"Before you put on a frown, make absolutely sure there are no smiles available." <br><small class="pull-right">- Jimm Begg<button class="btn btn-default btn-xs btn-link pull-right"><i class="glyphicon glyphicon-plus"></i></button></small></p>



</div>