
html,
body {
    height: 100%;
} 

.taskShow {
  max-width: 700px;
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align: middle;
}

#message {
  position: absolute;
  top: 10px;
}

.headerTask {
  position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    border-radius: 10px;
    padding: 10px;

}

#newlistModal {
  text-align: center;
}

.tablecont { overflow; hidden;}
.tablecont tr {display: block; }

.tablecont tbody { display: block; max-height: 200px; overflow: auto;}

#menu-toggle:link {
  text-decoration: none;
}

#insBox {
  /*background-color: #31B0D5;*/
  border-radius: 5px;
  border: 1px solid gray;
  /*box-shadow: 1px 1px 1px #000;*/
  padding: 10px;
  color: black;
}

#bgChange {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.imgThumb {
  display: block; height: 350px; overflow: auto;
}

#taskCont {
  max-width: 600px;
  margin-top: 10%;

}

.panel-title {
  font-size: 30px;
  text-align: center;
}

.panel-heading {
  text-align: center;
}

#accCont {
  display: block; max-height: 300px; overflow: auto;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
   
    
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
