<div class="pull-right bg-danger" id="insBox">
	<p><i>"<%= @insquot %>"</i> <br><small class="pull-right">- <%= @insauth %><button style="margin-left: 3px; color:gray;" class="btn btn-primary btn-xs btn-link pull-right" data-toggle="modal" data-target="#quoteModal"><i class="glyphicon glyphicon-plus"></i></button></small></p>
</div>